.godot/
bin/
/android/
.git/
.idea/
.vs/
packages/
obj/
publish/
Properties/
.editorconfig
*.import
*.uid
*.user
*.DotSettings.user
*.sln
.gitattributes
LavafallGiant.csproj
LavafallGiant.json
LavafallGiant.sln.DotSettings
export_presets.cfg
nuget.config
project.godot
project_structure.txt